/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{ margin:0; padding:0;}
body,html{ 
  margin:0; 
  padding:0;
  width: 100vw;
  height: 100vh;
  font-family: "Pretendard";
  font-weight: 400;
}

div,h1,h2,h3,h4,h5,p{ margin:0; padding:0;}
a{ text-decoration: none;}
ul li{ list-style: none;}
button, input{ background-color: transparent; border: none;}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* 폰트관련 */

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
